@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}
/* Fixar a coluna “Ações” mesmo durante rolagem */
.MuiDataGrid-root {
  position: relative;
}

